body{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.headerContainer {
  display: flex;
  padding-left: 2%;
}
.veganheader {
  color: #52ba5d;
}
.headerlogincontainer {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
}
.greyspace {
  background-color: #b2b2b2;
  width: 50vw;
}
.login-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 15%;
}
.login-input {
  width: 35vw;
  border-radius: 5px;
  height: 5vh;
  margin: 0 0 5% 0;
}

.loginbtn {
  width: 45%;
  height: 5%;
  background-color: #52ba5d;
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .headerlogincontainer {
    width: 100%;
    align-items: center;
  }
  .greyspace {
    display: none;
  }
  .logincontainer {
    width: 100vw;
  }
  .login-input {
    width: 90vw;
  }
  .loginbtn {
    width: 60vw;
    height: 6%;
    margin-top: 5%;
  }
}
