@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#root,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("veggie.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  position:fixed;
}
.App {
  font-family: 'Poppins', sans-serif;
}

